div{
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.row{
  margin: 0 10px 0 10px;
}

%grid{
    float: left;
    padding: 0 10px;
}
@for $i from 1 through 12{
    .col-xs-#{$i}{
        width: 8.33333333% * $i;
        @extend %grid;
    }
    .col-sm-#{$i}{
        @extend %grid;
    }
}
.inner{
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background: #eee;
  border: 1px solid #999;
}
@media (min-width: 768px) {
    @for $i from 1 through 12 {
        .col-sm-#{$i} {
            width: 8.33333333% * $i;
        }
    }
}